.app {
  text-align: center;
  background-color: #282c34;
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url("nature.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.app-title {
  color: white;
  margin-bottom: 25px;
}

.app-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 2vmin);
  color: white;
}

.grafana-button {
  color: white;
  width: 15em;
  height: 25px;
  padding: 0.5em;
  text-align: center;
  border-radius: 5px;
  color: white;
  line-height: 25px;
  border-style: solid;
  font-size: 0.5em;
  transition-duration: 0.4s;
}

.grafana-button:hover {
  background-color: white;
  color: black;
  opacity: 0.5;
  border: 2px solid white;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
